.todo-label {
    margin-left: 1.25rem;
    line-height: 35px;
    cursor: pointer;
    user-select: none;
}
.todo {
    display: block;
    font-size: 1.25rem;
    width: inherit;
}
.todo button {
    width: 35px;
    margin: 3px;
    float: right;
}

.todo.done .todo-label {
    font-size: 1.25rem;
    text-decoration: line-through;

}

.todo.important .todo-label {
    font-weight: bold;
    color: steelblue;
    font-size: 1.25rem;
}

.todo.done.important .todo-label {
    font-weight: bold;
    color: steelblue;
    text-decoration: line-through;
    font-size: 1.25rem;
}


